@import "../modules/variables";
@import "../modules/mixin";
@import "../modules/classes";

.none_notify {
  display: none !important;
}

#notification {
  justify-content: space-between;
  align-items: center;
  background: #1207AB;
  display: none;

  @include media {
    display: flex;
  }
}

#notification * {
  font-size: 8px;
  color: #fff !important
}

#notification .register {
  border: 1.5px solid #fff;
  border-radius: 8px;
  padding: 5px 10px;
}

#notification a {
  font-weight: 300;
  font-size: 15px !important;
  text-align: center;
  min-height: 40px
}

#notification span {
  position: absolute;
  right: 3vw;
  top: 10%;
  cursor: pointer;
  text-align: right;
}

@media only screen and (min-width:400px) {
  #notification {
    display: flex;
  }
}

@media only screen and (min-width:400px) {
  #notification * {
    font-size: 2vw;
  }
}

@media only screen and (min-width:540px) {
  #notification * {
    /* font-size:12px;*/
    /* min-width: 11vw; */
  }
}

/* 
@media only screen and (min-width:768px) {
  #notification * {
    font-size:16px;
  }
}
 */
@media only screen and (min-width:1024px) {
  #notification * {
    font-size: 20px;
  }
}

.header {
  display: block;
  padding: 0;
  height: auto;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  color: $black;
  box-shadow: 5px 10px 18px #eeeeee00;
  transition: all 0.5s ease;
  @include flex(column, space-between, center);

  .linkButton {
    margin: 0 !important;
  }

  section {
    justify-content: space-between;
    display: flex;
    width: 100%;
    padding: $contentPadding;
  }

  a {
    img {
      width: 80%;
      margin: 0;
    }
  }

  span {
    &.navLinks {
      position: absolute;
      left: 0;
      top: 0;
      padding: $headerHeight 0;
      width: 75%;
      background-color: $white;

      @include media {
        max-width: 80%;
      }

      @include media($laptop) {
        @include flex(row, space-between, center);
        position: static;
        max-width: 55%;
        padding: 0;
        background-color: transparent;
      }

      a {
        text-align: left;
        padding: 0 0 0 $paddingSide;
        width: 100%;
        border-bottom: 1px solid #eeecec;
        line-height: 2.5;
        color: rgba($color: $black, $alpha: 0.59);
        border-radius: 0;
        font-size: 15px;

        @include media($laptop) {
          padding: 0;
          border-bottom: none;
          width: auto;

          &:not(:last-child):hover {
            text-decoration: underline solid $deepBlue $smallpadding;
            text-underline-offset: $smallpadding;
          }
        }

        &:last-child {
          transition: all 0.3s;
          border-radius: 10px;
          border: none;
          justify-content: flex-start;
          align-items: flex-start;

          @include media($laptop) {
            display: flex;
            width: 25%;
            height: 42px;
            padding: 0;
            border: 2px solid $black;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }

    &.icon {
      color: rgba($color: $black, $alpha: 0.59);
      opacity: 0.59;
      align-self: center;
      cursor: pointer;

      svg {
        width: 0.3 * $headerHeight;
      }

      @include media($laptop) {
        display: none;
      }
    }
  }
}