$font: "Poppins", sans-serif;
$font2: "Montserrat", sans-serif;
$deepBlue: #11088a;
$pageText: #080443;
$white: #ffffff;
$herobg: #f6f5fe;
$black: #000000;
$greenText: #1c4b36;

$mobile: 540px;
$tab: 768px;
$minLap: 1023px;
$minLap2: 1200px;
$minLap4: 1400px;
