$fontFamily: "Poppins", sans-serif;
$heroBg: #11088a;
$white: #ffffff;
$btnBg: #0135d6;
$textGray: #888888;
$dark1: #150c21;
$black: #000000;
$blue2: #46e6e4;

$mobile: 540px;
$tab: 768px;
$minLap: 1023px;
$minLap2: 1200px;
$minLap4: 1400px;
